//- 确认对话框
div.dialog-overlay
    div.dialog.confirm(
        class = locals.className
    )
        div.dialog-header
            span.dialog-title= locals.title || '确认框'
            i.dialog-close.J_DialogClose 关闭
        if locals.body
            div.dialog-body
                != locals.body
        div.dialog-footer
            button.J_DialogConfirm 确定
            button.J_DialogClose 取消