//- 普通对话框
div.dialog-overlay
    div.dialog.normal(
        class = className
    )
        div.dialog-header
            span.dialog-title= title || '对话框'
            i.dialog-close.J_DialogClose 关闭
        if body
            div.dialog-body
                != body
        if footer
            div.dialog-footer
                != footer