//- 普通对话框
div.dialog-overlay
    div.dialog.normal(
        class = locals.className
    )
        div.dialog-header
            span.dialog-title= locals.title || '对话框'
            i.dialog-close.J_DialogClose 关闭
        if locals.body
            div.dialog-body
                != locals.body
        if locals.footer
            div.dialog-footer
                != locals.footer