extends layout

block content
    h1= title
    //- script(src="/javascripts/index-a07e9e7b1e1af02df8b1.js")
    //- script(src="/javascripts/indexa-c836f288bd16f3452393.js")

    //- 对话框
    include components/dialog.pug

    //- 选项卡导航
    include components/tabs.pug

    //- 分页器
    include components/pagination.pug

    //- tooltips
    include components/tooltips.pug

    //- 日期时间选择器
    include components/datetimepicker.pug

    //- 图片懒加载
    include components/lazyImage.pug

    //- 文件上传
    include components/uploader.pug
