doctype html
html
    head
        title= title + "-traditional"
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src="/jquery/dist/jquery.js")
        script(src="/javascripts/manifest-9e53b7bb98172fb6be7c.js")
    body
        block content
