doctype html
html
    head
        title= title + "-traditional"
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src="/jquery/dist/jquery.js")
        script(src="/es5-shim/es5-shim.js")
        script(src="/components/utils/getElementBoundary.js")
        //- script(src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js")
        //- script(src="/javascripts/vendor-cdd6663eb2b788811c81.js")
        //- script(src="/javascripts/manifest-45ef18f05da9ff701459.js")
    body
        block content
