/* 
==========================================================================
分页器
========================================================================== 
*/

$base-color: #4caf50;
.pagination {
    margin: 15px 0;
    ul {
        display: inline-block;
        margin: 0 -5px;
        list-style: none;
        margin: 0;
        padding: 0;
        &:after {
            visibility: hidden;
            display: block;
            content: "";
            clear: both;
            height: 0;
        }
    }
    li {
        float: left;
        display: block;
        height: 40px;
        margin: 0 5px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        &.disabled {
            // 隐藏上一页&下一页按钮
        }
    }
    a,
    span {
        display: block;
        min-width: 42px;
        text-align: center;
    }
    a {
        // 可点击页码
        color: #666;
        &:hover,
        &:focus {
            color: #fff;
            background-color: $base-color !important;
        } // &.next,
        // &.prev {
        //     text-indent: -9999em;
        // }
        // &.next {
        //     background: url(../../images/pager-next-normal.png) no-repeat transparent center center;
        //     &:hover,
        //     &:focus {
        //         background-image: url(../../images/pager-next-active.png);
        //     }
        // }
        // &.prev {
        //     background: url(../../images/pager-prev-normal.png) no-repeat transparent center center;
        //     &:hover,
        //     &:focus {
        //         background-image: url(../../images/pager-prev-active.png);
        //     }
        // }
    }
    span {
        // 不可点击页码
        color: #bbb;
        &.current {
            color: #fff;
            background-color: $base-color;
        }
    }
}