//- 日期时间选择器
script(src="/components/datetimepicker/datetimepicker.js")
h2 datetimepicker
input#J_Datetimepicker(type="text")
script.
    var picker = com_datetimepicker({
        elem: '#J_Datetimepicker',
        theme: '#4caf50',
        type: 'month',
        //- range: true,
        done: function (value, date, endDate) {
            console.log(value); //得到日期生成的值，如：2017-08-18
            console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
            console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
        }
    });