//- 图片懒加载
script(src="/components/lazyImage/lazyImage.js")
h2 lazyImage
img(
    data-src="https://opencollective.com/pug/sponsor/1/avatar.svg",
    alt="懒加载图片..."
)
script.
    com_lazyImage();
    com_lazyImage({
        delay: 1000
    });
    com_lazyImage({
        delay: 1200
    });